{% extends "basic.html" %}
{% block content %}

    {% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/auth-login.css')}}"/>{% endblock %}

    <div id="login-content">
        <div class="auth-form-wrapper">

            <div class="login-avatar">
                <img src="{{ url_for('static', filename='svg/login-avatar.svg') }}" alt="">
            </div>

            <form class="auth-form"
                  method="post"
                  action="{{ url_for('auth.login') }}"
                  novalidate>

                {{ login_form.csrf_token }}

                <header class="login-header">
                    <h1>Hello!</h1>
                    <h3>Let's get started</h3>

                </header>

                <fieldset>
                    {{ login_form.email.label }}
                    {{ login_form.email(size=20, placeholder=" ") }}
                    <ul class="form-errors">
                        {% if login_form.email.errors %}
                            {% for error in login_form.email.errors %}<li class="error">{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <fieldset>
                    {{ login_form.password.label }}
                    {{ login_form.password(size=20, placeholder=" ") }}
                    <ul class="form-errors">
                        {% if login_form.password.errors %}
                            {% for error in login_form.password.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <input class="submit" type="submit" value="Login" />

                <div id="login-signup-link">
                    No account yet? <a href="{{ url_for('auth.register') }}">Sign up here</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
