
<div class="middle-section">

    <div class="middle-section__body">

        <h1>It’s not about better time management.</h1>
        <h1>It’s about better life management</h1>

        <!-- <div class="header">
            <h2>Your daily schedule</h2>
        </div>
        <ul class="tasks">
            <li class="task">
                <div class="task__descritpion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque porro iusto aspernatur quaerat ab! 
                </div>
                <ul class="task__menu">
                    <li class="menu__item">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        <span class="material-symbols-outlined done">
                            done
                        </span>
                    </li>
                </ul>
            </li>
            <li class="task">
                <div class="task__descritpion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque porro iusto aspernatur quaerat ab! 
                </div>
                <ul class="task__menu">
                    <li class="menu__item">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        <span class="material-symbols-outlined done">
                            done
                        </span>
                    </li>
                </ul>
            </li>
            <li class="task">
                <div class="task__descritpion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque porro iusto aspernatur quaerat ab! 
                </div>
                <ul class="task__menu">
                    <li class="menu__item">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        <span class="material-symbols-outlined done">
                            done
                        </span>
                    </li>
                </ul>
            </li>
            <li class="task">
                <input class="task-input" type="text" placeholder="Add your today task ">
            </li>
            <div class="add-task">
                <button>
                    <h3> Dodaj</h3>
                </button>
            </div>
        </ul>

    </div> -->
    </div>
</div>