

<div class="right-section">
    <div class="right-section__header">
        <h2>
            Hello, <div class="username">{{ user.username }}</div>!
        </h2>
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </div>

    <div class="middle-up-text">
        <h1>Last updates</h1>
    </div>
    <div class="middle">
        <div class="middle__body">
            <h1>Updates not found</h1>
        </div>
       
    </div>

    <div class="bottom">
        <div class="bottom__header">
            <span class="material-symbols-outlined">
                event_note
            </span>
            <h1>Repositories</h1>
            <span class="material-symbols-outlined">
                event_note
            </span>
        </div>
        <div class="bottom__body">
            {% for repository in repositories %}
            <a href="{{ url_for('content', id=repository.id) }}">
                <h2>{{ repository.name }}</h2>
            </a>
            {% endfor %}
        </div>
    </div>
    <button class="footer">
        Add repository
    </button>
</div>