:root {
    --dark: #222831;
    --lightdark: #393e46;
    --blue: #00adb5;
    --lightblue: #00fff5;
    --error: rgb(248, 2, 2);
    --white: #fff;
  }
  
  #background3 {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 353px;
    right: 30px;
    z-index: -1;
  }
  