{% extends "basic.html" %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/repository/create.css')}}"/>
{% endblock %}

{% block content %}
    <div id="create-repository-content">
        <div class="create-repository-form-wrapper">

            <div class="title">Create repository</div>

            
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
