{% extends "basic.html" %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/repository/edit.css')}}"/>
{% endblock %}

{% block content %}

    <div id="background3">
        <img src="{{ url_for('static', filename='svg/background3.svg') }}" alt="">

    </div>
    <div class="repository">
        <div class="repository-info">
            <span>Repository name</span>
            {{ repository.name }}
            <span>Repository description</span>
            {{ repository.description }}
            <span>Repository owner</span>
            {{ repository.owner.username }}
        </div>
        <div class="edit-repository"></div>
    </div>

{% endblock %}
