{% extends "basic.html" %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/repository/repository.css')}}"/>
{% endblock %}

{% block content %}

    <div id="background3">
        <img src="{{ url_for('static', filename='svg/background3.svg') }}" alt="">
    </div>

    <div class="repository">
        <ul class="repository-content">
            {% for content in repository.contents %}
                <li class="content">
                    <div class="content-name">{{ content.name }}</div>
                    <ul class="content-tasks">
                        {% for task in content.tasks %}
                            <li class="task">
                                <a href="{{ url_for('task.task', repository_id=repository.id, content_id=content.id, task_id=task.id) }}">
                                    <div class="task-name">{{ task.name }}</div>
                                    <div class="task-description">{{ task.description[:50] }}...</div>
                                </a>
                            </li>
                        {% endfor %}
                        <li class="add-task">
                            <header class="header">
                                Add new task
                            </header>
                            <form id="create-task-form"
                                method="post"
                                action="{{ url_for('task.add_task', repository_id=repository.id, content_id=content.id) }}"
                                novalidate>

                                {{ task_form.csrf_token }}
                                <fieldset class="name-input">
                                    {{ task_form.name.label }} <br>
                                    {{ task_form.name(size=20, placeholder=" ") }}
                                    <ul class="form-errors">
                                        {% if task_form.name.errors %}
                                            {% for error in task_form.name.errors %}<li>{{ error }}</li>{% endfor %}
                                        {% endif %}
                                    </ul>
                                </fieldset>

                                <fieldset class="description-input">
                                    {{ task_form.description.label }} <br>
                                    {{ task_form.description(size=20, placeholder=" ") }}
                                    <ul class="form-errors">
                                        {% if task_form.description.errors %}
                                            {% for error in task_form.description.errors %}<li>{{ error }}</li>{% endfor %}
                                        {% endif %}
                                    </ul>
                                </fieldset>

                                <input type="submit" value="Create" class="submit"/>
                            </form>
                        </li>
                    </ul>
                </li>
            {% endfor %}
            <li class="repository-info">
                <div class="repository-users">

                    <header class="creator">
                        Repository Creator <a href="">{{ repository.owner.username }}</a>
                    </header>
                    <header class="info-header">
                        Repository name
                    </header>
                    {{ repository.name }}
                    <header class="info-header">
                        Description
                    </header>
                    {{ repository.description }}
                    <header class="info-header">
                        List of users
                    </header>
                    <ul class="users-list">
                        {% if repository.participants|length > 1 %}
                            {% for participant in repository.participants[1:] %}

                                <li class="user">
                                    <a href="{{ url_for('user.show_user', user_id=participant.id) }}">{{ participant.username }}</a>
                                    {% if current_user.username == repository.owner.username %}
                                    <a href="{{ url_for('repository.delete_user', user_id=participant.id, repository_id=repository.id) }}">Delete</a>

                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="not-found">Users not found</div>
                        {% endif %}
                    </ul>
                </div>
                <div class="add-user">
                    <a href="{{ url_for('user.search') }}">Add user</a>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
