{% extends "basic.html" %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/repository/repositories.css')}}"/>
{% endblock %}

{% block content %}
    <div id="background1">
        <img src="{{ url_for('static', filename='background1.svg') }}" alt="">
    </div>
    <div id="repositories-content">
        <div class="repositories-list-wrapper">
            <div class="repositories-list">
                <form id="create-repository-form"
                  method="post"
                  action="{{ url_for('repository.create') }}"
                  novalidate>

                {{ create_repository_form.csrf_token }}

                <fieldset class="name-form">
                    {{ create_repository_form.name.label }} <br>
                    {{ create_repository_form.name(size=20, placeholder=" ") }}
                    <ul class="form-errors">
                        {% if create_repository_form.name.errors %}
                            {% for error in create_repository_form.name.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <fieldset class="description-form">
                    {{ create_repository_form.description.label }} <br>
                    {{ create_repository_form.description(size=20, placeholder=" ") }}
                    <ul class="form-errors">
                        {% if create_repository_form.description.errors %}
                            {% for error in create_repository_form.description.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <input type="submit" value="Create repository" class="submit"/>
                </form>
                {% if repositories %}
                    {% for repository in repositories %}
                        <a class="repositories-list-element"
                           href="{{ url_for('repository.repository', repository_id=repository.id) }}">
                            <div class="repository-name">{{ repository.name | truncate(64, True) }}</div>
                            <div class="repository-description">{{ repository.description | truncate(240) if repository.description }}</div>
                            <div class="repository-spacer"></div>
                            <div class="repository-informations">
                                <div class="repository repository-owner">
                                    <div>Owner</div>
                                    <div>{{ repository.owner.username }}</div>
                                </div>
                                <div class="repository repository-created">
                                    <div>Created at</div>
                                    <div>{{ repository.created_at }}</div>
                                </div>
                                <div class="repository repository-last-modified">
                                    <div>Last modified</div>
                                    <div>{{ repository.last_modified }}</div>
                                </div>

                                {% if repository.participants | length > 1 %}
                                    <div class="repository repository-users">
                                        <div>Users</div>
                                        <div>
                                            {% for participant in repository.participants[1:] %}
                                                {{ participant.username }}{{ ", " if not loop.last else "" }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
