{% extends "basic.html" %}

{% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/user/search.css')}}"/>{% endblock %}

{% block content %}

    <div id="background3">
        <img src="{{ url_for('static', filename='svg/background3.svg') }}" alt="">
    </div>

    <div class="search-user">

        <form class="auth-form"
              method="post"
              action="{{ url_for('user.search') }}"
              novalidate>

            {{ search_form.csrf_token }}

            {{ search_form.name(placeholder="Insert user username...") }}

            <input class="submit" type="submit" value="Search" />

            {% if search_form.name.errors %}
                {% for error in search_form.name.errors %}<div class="error">{{ error }}</div>{% endfor %}
            {% endif %}

        </form>

        <ul class="users">
            {% for user in users %}
                <li class="users-user">
                    <a href="{{ url_for('user.show_user', user_id=user.id) }}"">{{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
