{% extends "basic.html" %}

{% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/user/user.css')}}"/>{% endblock %}

{% block content %}

    <div id="background3">
        <img src="{{ url_for('static', filename='svg/background3.svg') }}" alt="">
    </div>

    <div class="show-user">
        <div class="user-card">
            <div class="left-card">
                <div class="avatar">
                    <span class="material-symbols-outlined">face</span>
                </div>
                <div class="user-info">
                    <div class="user-username">
                        <h3>Username</h3>
                        {{ user.username }}
                    </div>
                    <div class="user-joined">
                        <h3>Joined</h3>
                        {{ user.created_at }}
                    </div>
                </div>
            </div>
            <div class="right-card">
                <header class="right-card-header">
                    User management
                </header>
                {% if user.username == current_user.username %}
                    <div class="change_profile">
                        <div class="change-password">
                            <form method="post"
                                  action="{{ url_for('user.show_user', user_id=current_user.id) }}"
                                  novalidate>

                                {{ password_form.csrf_token }}

                                Old password:
                                {{ password_form.old_password }}
                                <br>
                            </br>
                            New password:
                            {{ password_form.new_password }}

                            <input class="submit" type="submit" value="Change password" />
                            <br>
                        </br>
                        <br>
                    </br>
                    {% if session["password_message"] %}<div class="back-info">{{ session["password_message"] }}</div>{% endif %}
                </form>
            </div>
            <div class="change-password">
                <form method="post"
                      action="{{ url_for('user.show_user', user_id=current_user.id) }}"
                      novalidate>

                    {{ password_form.csrf_token }}

                    Old Email:
                    {{ password_form.old_password }}
                    <br>
                </br>
                New Email:
                {{ password_form.new_password }}

                <input class="submit" type="submit" value="Change Email" />
                <br>
            </br>
            <br>
        </br>
        {% if session["password_message"] %}<div class="back-info">{{ session["password_message"] }}</div>{% endif %}
    </form>
</div>
<div class="owned-repositories">
    <h3>Owned repositories</h3>
    <ul class="repositories">
        {% for repository in current_user.repositories %}
            <a href="{{ url_for('repository.repository', repository_id=repository.id) }}">
                <li class="repository">{{ repository.name }}</li>
            </a>
        {% endfor %}
    </ul>
</div>
</div>
{% else %}
<div class="shared-repositories">
    <header class="header">
        Shared repositories
    </header>
    <ul class="repositories">
    {% for repository in user.repositories %}
    {% if current_user in repository.participants %}
        <li>
            <a class="repository" href="{{ url_for('repository.repository', repository_id=repository.id) }}">
                {{ repository.name }}
            </a>
        </li>
    {% endif %}
    {% endfor %}
    </ul>
    <header class="header">
        Add user to your repository
    </header>
    <ul class="your-repositories">
    <ul class="repositories">
    {% for repository in current_user.repositories %}
        {% if user not in repository.participants %}
        <li>
            <a class="repository" href="{{ url_for('user.add_user_to_repository', user_id=user.id, repository_id=repository.id) }}">
                {{ repository.name }}
            </a>
        </li>
        {% endif %}
    {% endfor %}

    </ul>
</div>

{% endif %}
{% endblock %}
