{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/nav.css')}}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
{% endblock %}
<div class="nav-container">
    <nav class="navbar">
        <h1 id="navbar-logo">
           <img src="{{ url_for('static', filename='svg/navbar-logo.svg') }}" alt="">

            To <span class="do">Do</span>
        </h1>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('user.search') }}" class="nav-links">Search</a>
                </li>
                <li>
                    <a href="{{ url_for('daily.daily') }}" class="nav-links">Daily</a>
                </li>
                <li>
                    <a href="{{ url_for('repository.repositories') }}" class="nav-links">Repositories</a>
                </li>

                <li>
                    <a href="{{ url_for('user.show_user', user_id=current_user.id) }}"
                       class="nav-links">Settings</a>
                </li>

                <li>
                    <a href="{{ url_for('auth.logout') }}" class="nav-links nav-links-btn">Logout</a>
                </li>
                <li class="user">
                    Hello, <a class="username"
    href="{{ url_for('user.show_user', user_id=current_user.id) }}">{{ current_user.username }}</a>
                    <span class="material-symbols-outlined">account_circle</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% block script %}<script type="module" src="{{ url_for('static', filename='js/nav.js') }}"></script>{% endblock %}
