{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/nav.css')}}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
{% endblock %}
<div class="nav-container">
    <nav class="navbar">
        <h1 id="navbar-logo">
            <img src="{{ url_for('static', filename='icons/todo.png') }}" alt=""/>
            To <span class="do">Do</span>
        </h1>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            {% if current_user.is_authenticated %}
            {% else %}
                <li>
                    <a href="{{ url_for('home'}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('login'}" class="nav-links nav-links-btn">Login</a>
                </li>
                <li>
                    <a href="{{ url_for('register'}" class="nav-links nav-links-btn">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% block script %}<script type="module" src="{{ url_for('static', filename='js/nav.js') }}"></script>{% endblock %}
