{% extends "basic.html" %}

{% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/task/task.css')}}"/>{% endblock %}

{% block content %}

    <div id="background3">
        <img src="{{ url_for('static', filename='svg/background3.svg') }}" alt="">
    </div>
    <div class="task-container">
        <div class="task">
            <div class="task-header">{{ task.name }}</div>
            <div class="task-description">{{ task.description }}</div>
            <ul class="task-todos">
                <div class="task-todos-header">Todos:</div>
                {% for todo in task.todos %}
                {% if todo.status == False %}
                    <li class="todo">
                        <div class="todo-information">
                            <div class="todo-descritpion">{{ todo.description }}</div>
                            <div class="todo-menu">
                                <a href="{{ url_for('todo.complete', todo_id=todo.id, repository_id=repository.id, content_id=content.id, task_id=task.id) }}">
                                    Complete
                                </a>
                                <a href="{{ url_for('todo.delete', todo_id=todo.id, repository_id=repository.id, content_id=content.id, task_id=task.id) }}">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="todo">
                        <div class="todo-information">
                            <div class="todo-descritpion-done">
                            <span class="material-symbols-outlined">done</span>
                            {{ todo.description }}
                            </div>
                            <div class="todo-menu">
                                <a href="{{ url_for('todo.uncomplete', todo_id=todo.id, repository_id=repository.id, content_id=content.id, task_id=task.id) }}">
                                    Uncomplete
                                </a>
                                <a href="{{ url_for('todo.delete', todo_id=todo.id, repository_id=repository.id, content_id=content.id, task_id=task.id) }}">
                                    Delete
                                </a>
                            </div>
                        </div>
                        <div class="todo-completed">
                            <span>Completed at: {{ todo.completed_at }}</span>
                            <span>Completed by: {{ todo.completed_by }}</span>
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
                <form method="post"
                class="todo-form"
                action="{{ url_for('todo.create', task_id=task.id, content_id=content.id, repository_id=repository.id) }}">

                {{ todo_form.csrf_token }}

                {{ todo_form.description }}
                <input type="submit" value="Create Todo" />
                    
                </form>
            </ul>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
