{% extends "basic.html" %}
{% block content %}

    {% block style %}
        <link rel="stylesheet"
        href="{{ url_for('static', filename='css/daily.css')}}"/>
        <link rel="stylesheet"
        href="{{ url_for('static', filename='css/calendar.css')}}"/>
    {% endblock %}

    <div id="background2">
        <img src="{{ url_for('static', filename='svg/background2.svg') }}" alt="">
    </div>

    <section class="daily">
        <header class="header">
            Daily schedule
        </header>
        <div class="body">
            <div class="new-daily">
                <form method="post" action="{{ url_for('daily.create') }}" novalidate>
                    {{ create_daily_form.csrf_token }}

                    {{ create_daily_form.description(size=20, placeholder="Add daily Todo...") }}
                    <button type="submit">Add</button>
                    <ul>
                        {% if create_daily_form.description.errors %}
                            {% for error in create_daily_form.description.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </form>

            </div>
            <ul class="daily-schedule">
                {% for daily in current_user.dailys %}
                    <li class="schedule-item">
                        {% if daily.status == True %}
                            <span class="material-symbols-outlined">done</span>
                            <div class="daily-description-true" id="description">{{ daily.description }}</div>
                        {% else %}
                            <div class="daily-description-false" id="description">{{ daily.description }}</div>
                        {% endif %}
                        <div class="daily-menu">
                            <a href="{{ url_for('daily.complete', id=daily.id)}}">
                                <button type="">Complete</button>
                            </a>
                            <a href="{{ url_for('daily.delete', id=daily.id)}}">
                                <button type="">Delete</button>
                            </a>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>
    <div class=light>
        <div class="calendar">
            <div class="calendar-header">
                <span class="month-picker" id="month-picker">April</span>
                <div class="year-picker">
                    <span class="year-change" id="prev-year">
                        <pre><</pre>
                    </span>
                    <span id="year">2022</span>
                    <span class="year-change" id="next-year">
                        <pre>></pre>
                    </span>
                </div>
            </div>
            <div class="calendar-body">
                <div class="calendar-week-day">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-days"></div>
            </div>
        
            <div class="month-list"></div>
        </div>
    </div>

    {% block script %}
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    {% endblock %}
{% endblock %}
